h1{
  font-size: 25px;
  text-align: center;
}

h4 {
  font-size: 15px;
  text-align: center;
}

img {
  text-align: center;
  z-index: 2;
}
body {
  background-image: url("https://www.cappex.com/sites/default/files/styles/college_hero_desktop/public/images/hero/college/125727_hero.jpg?itok=4vjvhMUn") center center;
  z-index: 1;
    }
